@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&family=Quicksand:wght@500;700&display=swap');
html, body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

::-webkit-scrollbar {
  display: none; /* Hide scrollbars in Chrome, Safari */
}

body {
  -ms-overflow-style: none;  /* Hide scrollbars in IE/Edge */
  scrollbar-width: none;     /* Hide scrollbars in Firefox */
}
